[bumpversion]
current_version = 1.0.0

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:file:main.go]
search = const Version = "{current_version}"
replace = const Version = "{new_version}"
